# For running in production with Docker.  Drop the `.template` extension when you actually want to use this file.

CRATIFY_APP_ENV=prod
CRATIFY_DATABASE_URL=postgresql://postgres@db:5432/cratify
COOKIE_KEY=your_secure_key